.main {
  height: 100vh;
  width: 100%;
  background-color: #3b4664;
  padding-top: 5em;
}

.main-two {
  background-color: #e6e6e6;
}

.main-three {
  background-color: #17062a;
}

.container {
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  row-gap: 1.5em;
}

.section-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calc {
  color: white;
}

.calc-two {
  color: #5e5d59;
}

.calc-three {
  color: #f9e23c;
}

.theme {
  color: white;
  text-transform: uppercase;
  font-size: 0.85em;
  align-self: flex-end;
}

.theme-two {
  color: #5e5d59;
}

.theme-three {
  color: #f9e23c;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1em;
}

.span-div {
  display: flex;
  flex-direction: column;
}

.spans {
  display: flex;
  padding: 0 0.5em;
  column-gap: 0.5em;
}

.span {
  cursor: pointer;
  color: white;
  font-size: 0.85em;
  font-weight: bold;
  margin-bottom: 0.35em;
}

.span-two {
  color: #5e5d59;
}

.span-three {
  color: #f9e23c;
}

.toggle {
  background-color: #181f32;
  border-radius: 0.85em;
  padding: 0.25em 0.2em;
  display: flex;
  justify-content: start;
  align-items: center;
}

.toggle-two {
  background-color: #d1cdd0;
  justify-content: center;
}

.toggle-three {
  background-color: #0e0e0e;
  justify-content: flex-end;
}

.toggle-btn {
  display: inline-block;
  height: 0.85em;
  width: 0.85em;
  border-radius: 50%;
  background-color: black;
  background-color: #cf3f31;
  cursor: pointer;
}

.toggle-btn-two {
  background-color: #c75304;
}

.toggle-btn-three {
  background-color: #00e2cd;
}

.section-two {
  background-color: #181f32;
  /* background-color: blue; */
  width: 100%;
  border-radius: 0.85em;
}

.section-two-two {
  background-color: #0e0e0e;
}

.section-two-three {
  /* color: #f9e23c; */
  background-color: ;
}

.input-screen {
  width: 100%;
  height: 2.5em;
  /* padding: 1em; */
  font-size: 1.75em;
  color: white;
  font-weight: bolder;
  letter-spacing: 3px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1em;
}

.input-screen-two {
  background-color: #eeeeee;
  color: #5e5d59;
}

.input-screen-three {
  background-color: #1e0737;
  color: #f9e23c;
}

.section-three {
  background-color: #262c46;
  padding: 1em;
  text-transform: uppercase;
  border-radius: 0.85em;
}

.section-three-two {
  background-color: #d3cdcd;
}

.section-three-three {
  background-color: #1a0b32;
}

.article-three {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 1em;
  border-radius: 0.85em;
}

.numbers {
  color: #474c55;
  padding: 0.5em;
  font-size: 1.1em;
  background-color: #e8e3dc;
  border-radius: 0.5em;
  font-weight: bolder;
  display: grid;
  place-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-bottom: 0.2em solid gray;
}

.numbers-two {
  background-color: #e5e4e0;
  color: #0e0e0e;
}

.numbers-three {
  background-color: #17062a;
  color: #f9e23c;
}

.numbers:hover {
  cursor: pointer;
  scale: 1.05;
}

.delete {
  color: white;
  padding: 0.5em;
  font-size: 1.1em;
  background-color: #647299;
  border-radius: 0.5em;
  font-weight: bolder;
  display: grid;
  place-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-bottom: 0.2em solid gray;
}

.delete:hover {
  cursor: pointer;
  scale: 1.05;
}

[data-value="DEL"] {
  color: white;
  background-color: #647299;
}

.reset {
  color: white;
  background-color: #647299;
}

.equal {
  background-color: #d13f30;
  color: white;
}

.article-four {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  margin-top: 1em;
}

@media screen and (min-width: 768px) {
  .main {
    height: 100vh;
    display: grid;
    place-items: center;
    padding-top: 0em;
  }

  .container {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 40%;
  }
}

@media screen and (min-width: 1366px) {
  .main {
    font-size: 1.1em;
  }
  .container {
    width: 30%;
  }
}

@media screen and (min-width: 120em) {
  .main {
    font-size: 1.5em;
  }
  .container {
    width: 30%;
  }
}
