:root {
  --Dark-Blue: hsl(209, 23%, 22%);
  --Very-Dark-Blue: hsl(207, 26%, 17%);
  --Very-Dark-Blue: hsl(200, 15%, 8%);
  --Dark-Gray: hsl(0, 0%, 52%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}

.main {
  height: 100vh;
  width: 100%;
  background-color: #fafafa;
  /* overflow: scroll; */
}

.main-dark {
  background-color: #202d36;
  color: white;
  transition: 400ms ease-in-out;
}

.navbar {
  background-color: #ffffff;
  color: black;
  height: 5em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 1em;
  font-size: 0.75em;
}

.link {
  /* background-color: blue; */
  /* width: 50%; */
  text-decoration: none;
  color: inherit;
}

.link-logo {
  text-decoration: none;
  color: inherit;
}

.back-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-dark {
  background-color: #2b3743;
  color: white;
  transition: 400ms ease-in-out;
}

.title {
  font-weight: 800;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.moon {
  margin-right: 1em;
}

.moon:hover {
  cursor: pointer;
}

.dark-mode {
  cursor: pointer;
}

.search-section {
  margin: 2em 1em;
  /* background-color: blue; */
}

.search-box {
  background-color: #ffffff;
  padding: 1em;
  display: flex;
  justify-content: start;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 0.3em;
}

.search-box-dark,
.filter-box-dark {
  background-color: #2b3743;
  color: white;
  transition: 400ms ease-in-out;
}

input {
  border: none;
  outline: none;
  font-size: 0.9em;
  padding-left: 1em;
}

.input-dark {
  background-color: #2b3743;
  color: rgb(255, 255, 255);
  transition: 400ms ease-in-out;
}

.filter-box {
  margin: 1em 0;
}

select {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 1em;
  border-radius: 0.3em;
  border: none;
}

.card-a {
  all: unset;
}

.cards {
  padding: 0 2em;
  display: flex;
  flex-direction: column;
  row-gap: 2.5em;
  justify-content: center;
  /* align-items: center; */
}

.card {
  background-color: #ffffff;
  width: fit-content;
  border-radius: 0.3em;
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 400ms ease-in-out;
  height: 100%;
  /* display: grid; */
  /* grid-template-rows: 0.8fr 1fr; */
}

.card-dark {
  background-color: #2b3743;
  color: white;
  transition: 400ms ease-in-out;
}

.card-items-dark {
  color: rgb(179, 179, 179);
  transition: 400ms ease-in-out;
}

.card:hover {
  cursor: pointer;
  scale: 1.01;
}

.card-content {
  padding: 1em;
}

.card-content > * {
  margin-bottom: 0.25em;
}

.card-content span {
  display: flex;
  justify-content: start;
  align-items: center;
  text-transform: capitalize;
}

.card-content > * h3 {
  font-size: 0.95em;
  margin-right: 0.5em;
  font-weight: bolder;
}

.country {
  font-weight: bolder;
  font-size: 1.35em;
}

.img {
  border-radius: 0.3em 0.3em 0 0;
  height: 100%;
  width: 100%;
}

.single-card {
  margin: 2em 1.5em;
}

.back-cont {
  display: flex;
  width: fit-content;
  justify-content: start;
  background-color: #ffffff;
  align-items: center;
  padding: 0.7em 1.75em;
  border-radius: 0.2em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}

.back {
  background: transparent;
  border: none;
  margin-left: 0.75em;
  text-transform: capitalize;
  cursor: pointer;
  color: rgb(139, 136, 136);
}

.back-cont-dark {
  background-color: #2b3743;
  color: white;
  transition: 400ms ease-in-out;
}

.single-card-cont {
  margin: 2em 0;
}

.card-left {
  /* background-color: brown; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-right {
  /* background-color: blue; */
  padding: 2em;
}

.single-img {
  height: 100%;
  width: 100%;
}

.card-right-one .title {
  margin-bottom: 1em;
}

.card-right-one > div > span {
  display: flex;
  margin: 0.5em 0;
}

.border-title {
  margin-bottom: 1em;
}

.border {
  background-color: white;
  color: black;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 0em 0.45em;
  padding: 0.25em 0.5em;
  border-radius: 0.2em;
  cursor: pointer;
}

.native {
  font-weight: 500;
}

.name-two {
  color: rgb(143, 138, 138);
}

.border-dark {
  background-color: #2b3743;
  color: white;
  transition: 400ms ease-in-out;
}

.languages {
  margin: 0 0.2em;
}

.error {
  height: 85vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}

@media screen and (min-width: 768px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2em;
  }
}

@media screen and (min-width: 992px) {
  .navbar {
    padding: 1em 4em;
    font-size: 0.9em;
  }

  .search-section {
    margin: 1em 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .search-box {
    width: 35%;
  }

  input {
    width: 100%;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 3em;
    margin: 2em 1em;
  }

  .single-card-cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0em;
    font-size: 0.9em;
  }

  .card-right-one {
    margin: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  .border-title {
    margin: 0 1em 0 0;
  }

  .card-right-two {
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .card-left {
    width: 80%;
    margin: auto;
  }

  .native {
    margin-right: 0.25em;
  }
}

@media screen and (min-width: 120em) {
  .main {
    font-size: 1.1em;
  }

  .cards {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
}
